
@charset "utf-8";
/* CSS Document */
body{
	background-color: black;
}
.master{
	
	width:100%;
	position: absolute;
	top:0px;
	left:0px;
	
}
.head{
	
	background-image: url(markus-spiske-iar-afB0QQw-unsplash.jpg);
	background-size: contain;
	width:100%;
	height: 120px;
	box-shadow:0px 2px 3px #000;
	position: fixed;
	z-index: 100;
}
.con{
	position: relative;
	top:120px;
	left: 0px;
	padding-bottom: 120px;
}
.side{
	
	width:340px;
	position: relative;
	float: right;
	top:120px;
	z-index: 10;
	
}
.foot{
	
	width: 100%;
	background-image: url(markus-spiske-iar-afB0QQw-unsplash.jpg);
	background-size: contain;
	position: absolute;
	height: 200px;
	float:left;
	left: 0px;
	color: white;
}
.foot_con{
	
	width:100%;
	height: 160px;
   
}
.logo{
	
	float:left;
}

.menu ul li{
	margin: 10px;
	background-color: black;
	display: inline;
	padding: 10px;
	border-radius: 20px;
	transition: background-color 2s;
}
.menu ul li ul{
	position:absolute;
	opacity: 0;
	visibility: hidden;
}
.menu ul li:hover ul{
	opacity: 1;
	visibility: visible;
}
.menu ul li ul li{
	display:block;
}
.menu li:hover{
	background-color:#0A4B14;
}
.menu_site{
	padding-left: 100px;
	padding-top: 30px;
}
.menu a:link,.menu a:visited{
	text-decoration: none;
	font-weight: bold;
	color:white;
}
.side_con{
	
	width:340px;
}
input[type="text"],input[type="password"]
{
	width: 95%;
	background-color:black;
	color: #135216;
	
}
input[type="button"]
{
	background-color: black;
	color: #135216;
}
#copyright{
	position: relative;
	float: down;
}
.inf{
	text-align: center;
	
	
}
.inf tr td{  
	background-color: black;
	color: #135216;
padding: 10px;
	border-style:dotted;
	
}
.inf tr td:hover{ 
color:white;
	background-color:  #135216;
}
.inf tr th{
	background-color: #135216;
	color: black;
	padding: 10px;
	border-style:dotted;
}
.inf tr td a:link,.inf tr td a:visited{
	color: white;
	font-style: oblique;
	text-decoration: none;
	font-weight: bold;
}
.inf tr td a:hover,.inf tr td a:active{
	color:black;
	
}